/* este es un comentario*/
header{
    text-align: center;
    background-color:read;  /* este es uncolor de fondo */
}
header:hover{
    background-color: blue; 
}
main{
    background-color:midnightblue;
}
main:hover{
    background-color: beige;
}
footer{
    background-color:ghostwhite;
}
footer:hover{
    background-color: rgb(240, 127, 127);
}
h1{
    color:red
} 
h2{
    color:cadetblue
}
p{
    color:darkgray
}